global
    daemon
    log stdout format raw local0 info

defaults
    mode http
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    log global
    option httplog
    option dontlognull
    option forwardfor

frontend http-in
    bind *:8080
    bind *:8443 ssl crt /etc/ssl/private/iroko.pem
    
    # Redirect HTTP to HTTPS
    redirect scheme https code 301 if !{ ssl_fc }
    
    # acl host_sceiba hdr(host) -i sceiba.reduniv.edu.cu

    # API routes
    acl is_api path_beg /api
    use_backend api if is_api 
    
    # Frontend routes
    default_backend ui

backend api
    balance roundrobin
    option httpchk GET /api/v1/health
    server api1 api:8000 check inter 10s fall 4 rise 2

backend ui
    balance roundrobin
    server ui1 ui:80 check inter 10s fall 4 rise 2

# Health check endpoint
listen stats
    bind *:8404
    stats enable
    stats uri /haproxy?stats
    stats refresh 10s
    stats admin if TRUE
